module-seven.base-template {

    @media (max-width: 499px) {

        grid-template-columns: repeat(12, 1fr);

        .module-text {
            grid-column: span 7;
            padding: 30px 0px 30px 0px;
        }

        figure.one {
            grid-column: 1/5;
        }

        figure.two {
            grid-column: 1/5;
            margin-bottom: 30px;
        }

        figure.three {
            grid-column: 6/13;
            grid-row: 2/span 2;
            align-self: start;
        }
    }

    @media (min-width: 500px) {

        column-gap: 35px;

        .module-text {
            grid-column: 2/span 6;
        }

        figure.one {
            grid-column: 2 / span 4;
        }

        figure.two {
            grid-column: 2 / span 4;
        }

        figure.three {
            grid-column: 6 / span 6;
            grid-row: 2 / span 2;
            align-self: start;
            margin-top: 30px;
        }
    }

    @media(min-width: 1000px) {

        position: relative;
        padding-top: 50px;
        column-gap: 0px;


        .module-text {
            grid-column: 1 / span 8;
            position: absolute;
        }

        figure.one {
            grid-column: 3 / span 6;
            grid-row: 2 / span 2;
        }

        figure.two {
            grid-column: 15 / span 8;
            grid-row: 3 / span 2;
        }

        figure.three {
            grid-column: 9 / span 16;
            grid-row: 1 / span 1;
            margin-bottom: 50px;
        }
    }
}