module-three.base-template {

    @media (min-width: 500px) {

        .module-text {

            grid-column: span 7;
        }

        figure.one {

            grid-row: 2;
            grid-column: span 6;
        }

        figure.two {

            grid-row: 2 / 4;
            grid-column: span 6;

            align-self: center;
        }

        figure.three {

            grid-column: 1 / 6;
        }

        figure.four {

            grid-column: 1 / 6;
        }
    }



    @media (min-width: 700px) {

        grid-template-columns: repeat(24, 1fr);

        .module-text {

            grid-column: span 9;
            padding-top: 20px;
        }

        figure.one {
            grid-row: 1;
            grid-column: 11/ 19;

        }

        figure.two {
            align-self: stretch;
            grid-row: span 1;
            grid-column: 15/ 23;

        }


        figure.three {
            grid-row: 2;
            grid-column: 3 / 11;
            margin-top: 80px;
        }

    }

    @media (min-width: 1000px) {
        .module-text {
            grid-column: span 8;
        }

        figure.one {
            grid-column: 9 /19;
        }
    }
}