.has-button {
	padding: 0px 0px;
}

.has-button inner-column {
	display: flex;
	gap: 30px;
	padding: 0.5rem 1rem;
}

.generic-button {
	gap: 20px;
}

.generic-button a {
	display: block;
	background-color: black;
	color: white;
	border: 1px solid black;
	padding: 15px 30px;
	width: 100%;
}