footer {
    background-color: var(--gray);
}

connect-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
    text-align: center;
    background-color: var(--page);
    padding: 1rem;
}

.footer-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    a {
        padding: 7px 14px;
        background-color: var(--pink);
    }
}