module-one {

	// default stuff would be here - 

	@media (max-width: 499px) {

		figure.one {
			max-width: 80%;
		}

	}


	@media (min-width: 500px) {

		figure.one {
			grid-row: 1 / 2;
			grid-column: 1 / 6;
		}

		.module-text {
			grid-column: 6 / 9;
		}

		figure.two {
			grid-row: 2 / 3;
			grid-column: 7 / 12;
			transform: translateY(-50%);
		}

		figure.three {
			grid-row: 2 / 3;
			grid-column: 1 / 7;
		}

	}


	@media (min-width: 700px) {

		figure.one {
			grid-column: 1 / 5;
		}

		text-content {
			grid-column: 5 / 8;
		}

		figure.two {
			grid-column: 7 / 11;
			transform: translateY(-45%);
		}

	}


	@media (min-width: 1000px) {

		figure.one {
			grid-column: 1 / 6;
		}

		text-content {
			grid-column: 6 / 9;
		}

		figure.two {
			grid-row: 2 / 3;
			grid-column: 6 / 12;
			transform: translateY(-25%);
		}

		figure.three {
			grid-row: span 2;
			grid-column: 14 / 25;
		}

	}


	@media (min-width: 1650px) {

		figure.one {
			transform: translateX(-100px);
			transition: 1s;
		}

		text-content {
			transform: translateX(-100px);
			transition: 1s;
		}

	}


}