module-ten {
    scroll-container {
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        overflow-y: hidden;

        max-height: fit-content;

        display: flex;
        gap: 20px;
        align-items: center;
    }

    figure {
        min-width: 80%;
        scroll-snap-align: start;
        align-self: start;
    }


    div {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}

@media (min-width: 500px) {
    module-ten {
        scroll-container {
            grid-column: span 12;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            overflow-x: visible;
            max-height: none;
            column-gap: 45px;
        }

        figure {
            grid-column: span 4;

        }

        div {
            grid-column: span 12;
        }
    }
}



@media (min-width: 1000px) {

    module-ten {
        h2 {
            grid-column: span 24;
        }

        scroll-container {
            grid-column: span 15;
            display: grid;
            grid-template-columns: repeat(14, 1fr);
            overflow-x: visible;
            column-gap: 45px;
        }

        figure.one,
        figure.two {
            grid-column: span 7;
        }

        figure.three {

            grid-column: span 14;

            picture {
                aspect-ratio: 16/9;


            }

            img {
                object-fit: cover;
            }
        }

        div {

            grid-column: span 7;
        }
    }


}