@import '../templates/modules/site-menu/_style.scss';
@import '../templates/modules/module_01/_style.scss';
@import '../templates/modules/module_02/_style.scss';
@import '../templates/modules/module_03/_style.scss';
@import '../templates/modules/module_04/_style.scss';
@import '../templates/modules/module_05/_style.scss';
@import '../templates/modules/module_06/_style.scss';
@import '../templates/modules/module_07/_style.scss';
@import '../templates/modules/module_08/_style.scss';
@import '../templates/modules/module_09/_style.scss';
@import '../templates/modules/module_10/_style.scss';
@import '../templates/modules/module_11/_style.scss';


h2+p {
    margin-top: .5rem;
}

picture img {
    mix-blend-mode: multiply;
}

figure.one picture {
    background-color: #f75e5e;
}

figure.two picture {
    background-color: #feb839;
}

figure.three picture {
    background-color: #ede921;
}

.base-template {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;
}

@media (min-width: 500px) {
    .base-template {
        grid-template-columns: repeat(12, 1fr);
    }

}

@media (min-width: 1000px) {

    .base-template {
        grid-template-columns: repeat(24, 1fr);
    }


}