

body {
	font-family: 'Futura', sans-serif;
}

.menu ul {
	li + li {
	margin-top: 20px;
	}
}

h2 {
	font-size: 32px;
	line-height: 1.5;
}

h2 + text-content {
	margin-top: 10px;
}

figcaption p {
	color: var(--mineshaft);
	margin-top: 10px;
	font-size: 12px;
}