body {
	font-family: 'Futura', sans-serif;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 32px;
	line-height: 1.5;
}

h2+text-content {
	margin-top: 10px;
}

h2+p {
	margin-top: .5rem;
}

figcaption p {
	color: var(--mineshaft);
	margin-top: 10px;
	font-size: 12px;
}

.jean-luc {
	font-family: 'JeanLucWEB';
}


:is(.jean-luc, .futura) .body-copy {
	font-size: 32px;
}

.page-header {
	text-decoration: underline;
}

.big-example {
	font-size: 48px;
}

.small-example {
	font-size: 24px;
}

.font-name {
	font-family: 'Courier';
	font-size: 24px;
	color: var(--mineshaft);
	background: #dedddd;
	padding: 10px 15px;
	display: inline-block;
}

.font-name,
.big-example,
.small-example {
	margin-top: 30px;
}

.landing-copy {
	font-size: 20px;
}