module-nine {

    display: grid;
    grid-template-columns: 1fr;

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .hamburger-menu {
        padding: 30px;
    }

    .hamburger-menu {
        flex: 1;
    }


    figcaption p {
        font-size: 0.9rem;
    }
}

@media (min-width:700px) {

    module-nine {
        grid-template-columns: repeat(12, 1fr);

        figure.one {
            display: none;
        }

        .navbar {
            grid-row: 1 / span 1;
            grid-column: 1 / span 12;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-image: url('https://peprojects.dev/images/landscape.jpg');
            gap: 20vw;
            padding-bottom: 400px;
            background-repeat: none;
            background-position: center;
        }

        .hamburger-menu {
            display: flex;
            gap: 20px;
            justify-content: space-evenly;
        }

        svg {
            fill: white;
        }

        .landing-copy {
            font-size: 20px;
            margin-top: 20px;
            grid-row: 2 / span 12;
            grid-column: 1 / span 8;
        }
    }
}