module-five {

    scroll-container {
        height: 50vh;
        display: block;
        width: 100%;
    }

    ul {
        display: flex;
        gap: 20px;
        height: 100%;
        overflow: scroll;
        overflow-y: hidden;
    }

    li,
    figure,
    picture {
        height: 100%;
    }

    img {
        display: block;
        width: auto;
        height: 100%;
    }

    figure {
        outline: 2px solid blue;

        picture {
            outline: 2px solid purple;
        }

        // img {
        //     // width: auto;
        //     // height: 100%;
        // }
    }

}

@media (min-width: 500px) {
    module-five {

        scroll-container {
            grid-column: span 12;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            overflow-x: visible;
            max-height: none;
        }

        ul {
            grid-column: span 12;
        }

        figure {
            grid-column: span 4;
        }
    }
}


@media (min-width: 1000px) {
    module-five {

        scroll-container {
            grid-column: span 24;
            display: grid;
            grid-template-columns: repeat(24, 1fr);
            align-items: center;
            grid-template-rows: 100px 1fr 100px;

        }

        ul {
            overflow-x: visible;
            align-items: center;
        }


        figure {
            min-height: none;
        }

        li:nth-of-type(1) {
            grid-column: 3/ span 6;
            grid-row: 2/ span 2;
        }

        li:nth-of-type(2) {
            grid-row: 1 / span 2;
            grid-column: 10/ span 7;
        }

        li:nth-of-type(3) {
            grid-column: 18/ span 6;
            grid-row: 2/ span 2;
        }
    }

}