header.site-header {

    position: sticky;
    z-index: 100;
    top: 0;
    background-color: var(--page);
    position: relative;

    inner-column {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: space-between;
        position: relative;

    }

    .gold-collective {
        width: 140px;
        padding: 20px;
        flex-shrink: 0;
    }

    .hamburger-button {
        padding: 20px;
        width: 10%;
        outline: none;
        border: 2px solid rgb(154, 152, 152);
        background-color: rgb(222, 221, 221);
    }

    .hamburger-button:hover {
        background-color: var(--pink);
        border-color: rgb(160, 159, 159);

    }

    @media(min-width: 700px) {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}



.has-text_block {

    inner-column {
        padding-top: 0;
        padding-bottom: 0;
    }

    section.intro h1:first-of-type {
        padding-bottom: 20px;
        margin-left: -1rem;
        margin-right: -1rem;

        img {
            width: 100%;
        }
    }

    @media(min-width: 700px) {
        section.intro h1:first-of-type {

            margin-left: 0;
            margin-right: 0;
        }

        inner-column {
            padding: 0;

        }

        section.intro h1:not(:first-of-type) {
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 800px;
        }

    }
}

header.display-menu .my_extra_menu_class {
    display: block;
}


.my_extra_menu_class {
    display: none;
    position: absolute;
    bottom: -320px;
    right: 0;
    text-align: center;
    padding: 5px;
    background-color: var(--page);

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            border: 2px solid var(--ink);

            a {
                padding: 5px 10px;
            }
        }

        li:hover {
            background-color: rgb(245 195 203);
        }
    }


    span {
        width: 100%;
        height: 3px;
        display: block;
        background-color: white;
        transition: all 0.25s;

        pointer-events: none;
    }

}

@media(min-width: 912px) {
    .hamburger-button {
        display: none;
    }

    .my_extra_menu_class {
        display: block;
        position: static;
        text-align: center;
        padding: 0;
        background-color: transparent;
        color: var(--page);

        ul {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;

            li {
                border: none;
            }
        }
    }

}


// .display-menu {

//     span {
//         &:nth-child(1) {
//             transform:
//                 translateY((15px) - 3px) rotate(45deg);
//         }

//         &:nth-child(2) {
//             opacity: 0;
//         }

//         &:nth-child(3) {
//             transform:
//                 translateY(15px) rotate(-45deg);
//         }
//     }

//     span {
//         background-color: red;

//     }
// }