.site-header {
    border: 3px solid blue;
    // position: sticky;
    top: 0;
}

.site-header ul {
    display: flex;
    flex-direction: row;
    mix-blend-mode: difference;
}


//any site header inside body class=home is transparent

body.home .site-header {
    background-color: transparent;
}