//any site header inside body class=home is transparent

// body.home .site-header {
//     background-color: transparent;
// }

.homepage-background {
    background-color: #fff;

    img {
        object-fit: cover;
        object-position: center center;
    }
}

header {

    position: sticky;
    z-index: 100;
    top: 0;
    background-color: var(--page);

    inner-column {
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: space-between;
    }

    ul {
        display: flex;
        flex-direction: row;
        mix-blend-mode: difference;
    }

    .gold-collective {
        width: 140px;
        padding: 20px;
        flex-shrink: 0;
    }
}