

module-six {
    
    @media(min-width: 500px) {
            
        .module-text {
            grid-column: 1 / 6;
            grid-row: 1 / 2;
            margin-top: 3vw;
        }
        
        .one {
            grid-column: 6 / 13;
            grid-row: 2 / 5;
            align-self: start;
        }
    }

    @media(min-width: 1000px) {
        
        .module-text {
            grid-column: span 9;
            grid-row: 1 / 2;
        }
        
        .one {
            grid-column: 11 / 25;
            grid-row: 2 / 7;
            align-self: start;
        }
    }
}



