module-four {

	// section{
	// 	margin: 20px 20px;	
	// }

	@media (min-width: 500px) {
		figure.one {
			grid-column: 1 / 13;
		}
	}

	@media (min-width: 1000px) {

		figure.one {
			grid-column: 1 / 25;




			img {
				object-fit: cover;
				max-height: 90vh;
			}


		}

	}

}