
module-four {

	// section{
	// 	margin: 20px 20px;	
	// }

	@media (min-width: 500px){
		figure.one {
			grid-column: 1 / 13;
		}
	}

	@media (min-width: 1000px){

		figure.one {
			grid-column: 1 / 25;
		}

		picture{
			// aspect-ratio: 2/3;
			max-height: 90vh;
			;
		}
	}


	// html {
	// 	--column-width: 700px;
	// }

	// picture {
	// 	display: block;
	// 	max-width: 90vw;
	// 	// border:3px solid blue;
	// }

	// img {
	// 	display: block;
	// 	width: 100%;
	// 	height: auto;
	// 	border:6px solid green;
	// }

	// inner-column {
	// 	display: block;
	// 	padding: 0px;
	// 	max-width: var(--column-width);
	// 	margin-right: auto;
	// 	margin-left: auto;
	// /* 	border: 1px solid red; */
	// }

	// p {
	// 	font-size: .9rem;
	// 	line-height: 1.2;
	// }

	// .attention-voice {
	// 	font-size: 1.5rem;
	// 	line-height: 1.1;
	// }

	// h2 + p {
	// 	margin-top: .5rem;
	// }

	// picture img {
	// 	// opacity: 0;
	// 	max-height: 95vh;
	// /* 	width:auto; */
	// }

	// figure.one picture {
	// 	background-color: #f75e5e;
		
	// }


	// thing-module {
	// 	display: grid;
	// 	grid-template-columns: repeat( 24, 1fr);
	// 	gap: 20px;
	// }

	// figure.one {
	// 	grid-column: 1 / 25;
		
	// }

}