module-eight {

    .intro {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }

    figure.one {
        grid-row: 2 / 4;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    figcaption {
        grid-row: 4;
        grid-column: 1 /2;
        font-size: 12px;
        color: gray;
        transform: translateY(-50%);
    }

    .copy {
        grid-row: 5;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .optional {
        display: none;
    }

    @media (min-width: 500px) {

        .intro {
            grid-column: 1 / 12;
        }

        figure.one {
            grid-column: 1 / 12;

        }

        figcaption {
            grid-column: 1 / 12;
        }

        .copy {
            grid-column: 1 / 12;
        }

    }

    @media (min-width: 700px) {

        .base-template {
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }

        .attention-voice {
            grid-column: 1 / 5;
            grid-row: 1 / 2;
        }

        figure.one {
            grid-row: 2 / 4;
            grid-column: 1 / 8;
        }

        .copy {
            grid-row: 2 / 4;
            grid-column: 8 / 12;
        }

        figure.one picture {
            transform: translateX(0);
            width: 100%;
        }

        figcaption {
            grid-row: 3;
            grid-column: 8 / 10;
            color: gray;
            transform: translateY(0);
        }

    }


    @media (min-width: 1000px) {

        .base-template {
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }

        h2 {
            grid-column: 2 / 5;
            grid-row: 1 / 2;
        }

        figure.one {
            grid-row: 2 / 4;
            grid-column: 2 / 16;
        }

        .copy {
            grid-row: 2;
            grid-column: 16 / 24;
        }

        .optional {
            display: inline;
        }

        figcaption {
            grid-column: 16/20;
        }

    }
}